body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* 📌 Universal Legend */
.legend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 20px 0;
  gap: 10px;
  background-color: #f7f6c7;     /* Match background */
  padding: 20px 0;
  position: sticky;              /* 🔥 Sticky position */
  top: 0;                        /* 👆 Sticks to top of screen */
  z-index: 1000;                 /* Ensure it stays above charts */
  border-bottom: 1px solid #ccc; /* Optional divider line */
}
.legend-item {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  color: #333;
}

.legend-box {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  display: inline-block;
}

/* 📊 Chart Layout */
.chart-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 2000px;
  margin: 0 auto;
}

.chart-container {
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  color: black;
  background: #ccb849;
  margin-bottom: 10px;
}

canvas {
  width: 100% !important;
  height: 250px !important;
}

/* 🎨 Bar color CSS */
.bar-color-0 { background-color: #098b4e; }
.bar-color-1 { background-color: #486bdb; }
.bar-color-2 { background-color: #e15759; }
.bar-color-3 { background-color: #d162d1; }
.bar-color-4 { background-color: #50eef3; }
.bar-color-5 { background-color: #7631e4; }
.bar-color-6 { background-color: #b07aa1; }
.bar-color-7 { background-color: #ff9da7; }
.bar-color-8 { background-color: #9c755f; }
.bar-color-9 { background-color: #bab0ab; }
